.boxPix {
  display: flex;
  align-items: baseline;
  text-align: center;
  justify-content: flex-start
}
.selectOption{
  display: flex;
  align-items: baseline;
  text-align: center
}
.labelPix {
  margin-right: 1rem;
  font-weight: normal
}
.labelDiplome {
  font-weight: normal
}

