.fr-header__body-row {
  padding: 0;
}
.fr-header__logo, .fr-header__operator, .fr-header__service {
  padding: 1.5rem 1rem;
}
.logo-header {
  padding-right: 2.5rem;
  height: 50px;
}

@media (min-width: 1782px) {

}
