.survey{
  .center {
    text-align: center;
  }
  .rf-search-bar .rf-input, .rf-search-bar .rf-btn {
    margin-top: .5rem;
  }
  .structure-nom {
    display: inline-block;
    font-style: italic;
    text-align: left;
    width: 95%;
  }
  .structure-btn {
    margin-left: 1rem;
    cursor: pointer;
  }
  .invalid {
    text-align: center;
    color: #e0000f;
  }
}

