.recrutements {
  .titre-etat-recrutements, .titre-recrutements, .titre-avancement {
    line-height: 22px;
    font-weight: 600;
    font-size: 16px !important;

  }
  .titre-etat-recrutements {
    margin: 16px 0;
  }
  .titre-recrutements {
    margin: 0 0 10px;
  }
  .titre-avancement {
    margin: 0 0 16px;
  }
  .barre-total {
    background-color: #E7E7E7;
    display: inline-block;
    margin-bottom: 27px;
    border-radius: 20px;
    width: 369px;
    height: 40px;
  }
  .barre-progression {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #000091;
    text-align: center,
  }
  .barre-label {
    font-weight: 600;
    color: #fff;
    padding: 8px;
  }
  .nombre-recrutes {
    display: inline-block;
    margin-left: 24px;
  }
  .liste-stats {
    list-style: none;
    margin-top: 10px;
    padding: 0;
  }
  @media (min-width: 1448px) {
    .barre-total {
      margin-bottom: 4px;
    }
  }
}
