$blue-france:#000091;

.fr-container--fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

.flashBag {
  background-color: white;
  color: #008941;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid;
  border-radius: 20px;
}

.labelError {
  color: #FF3333;
}

.spinnerCustom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.wrapperModal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.header__logo-rf {
    height: 78px;
}

.Login {
    border-radius: 8px;
    text-align: center;
}

.fr-sur-mesure {
    flex: none;
    padding-right: 0;
    height: 75px;
}

.logo-conseiller-numerique {
    height: 75px;
    margin-left: 1.25rem;
    display: flex;
}

.logo-conseiller-numerique img:first-child {
    height: 54px;
    margin-top: 1.1em;
    font-weight: lighter!important;
}

.fr-tag.current {
    font-weight: 600;
    color: white;
    background-color: #5770BE;
}

.fr-tag:hover {
  background-color: #D5DBEF;
}

.hidden {
  display: none;
}

.big-btn {
  display: inline-block;
  padding: 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1rem!important;
  width: 60%;
  text-align: center;
  background: white!important;
  border: 1px solid #383838!important;
  color: #383838!important;
}

/** Icones menu gauche **/
.fr-sidemenu__item--active a {
    color: $blue-france;
    border-left: 2px $blue-france solid;
    padding-left: 5px !important;
}
.menu-contact {
  display: inline-block;
  padding: 0.5rem;
  padding-right: 0;
}
/** Couleur d'icone **/
.fr-fi-edit-line, .fr-fi-mail-line {
  color: #fff;
}
/** style custom **/
.alignRight {
    text-align: right;
}

.valignTextTop {
  vertical-align: text-top;
}

.valignMiddle {
  vertical-align: middle;
}

.valignBottom {
  vertical-align: bottom;
}

.conseiller .customTitleLink {
    color: $blue-france;
    text-align: right;
}

.siretBtn {
  font-family: "Marianne",arial,sans-serif;
  border:none;
  border-bottom: 1px solid;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000091;
  cursor: pointer;
}

.capitalizeFirstLetter {
  text-transform: capitalize;
  color: $blue-france;
}

.centrerTexte {
  text-align: center;
}

.titrage {
  font-size: 56px;
}

.td-preselection {
  max-width: 130px !important;
}

.invalid, .important {
  color: #e10600;
}

.valid {
  color: #008941;
}

.inactif {
  color: #a9a9a9a9;
  cursor:pointer;
}

.centrer {
  text-align: center;
}

.downloadCVBtn {
  font-family: "Marianne",arial,sans-serif !important;
  text-rendering: optimizeSpeed;
  background: transparent;
  color: #383838;
  cursor: pointer;
  font-size: 1em;
  border: none;
  text-decoration: underline;
}

.logo-label-Fs {
  display: inline-block;
  margin-bottom: -20px;
  height: 70px;
}
.siret-structure {
  display: inline-block;
  font-weight: 400;
  padding: 30px;
}
.nombreTotalConseiller {
  align-items: center;
  margin-left: 17px;
  text-align: right;
  display: flex;
  .logoConseiller{
    margin-right: 0.75rem;
    height: 32px;
  }
  p {
    font-size: 0.88rem;
  }
}
.fr-sidemenu__inner {
  padding-left: 0;
  padding-right: 0;
  #fr-sidemenu-wrapper {
    padding-left: 0;
    padding-right: 0;
    ul li a {
      padding-left: 0;
      padding-right: 0;
    }
    .fr-sidemenu__btn {
      padding-left: 0;
    }
  }
}
.fr-sidemenu__list .fr-sidemenu__list {
  margin: 0 0 0 1rem;
}
.message-condition{
  font-size: 14px;
  font-style: italic;
}
.coop-btn {
  background-color: $blue-france;
  display: inline-block;
  padding-top: 14px;
  text-align: center;
  color: #f5f5ff;
  font-size: 20px;
  margin: 6px auto 0;
  height: 56px;
  width: 830px;
}

.titre-stat {
  height: 90px;
}

@media (min-width: 1571px) {
  .btn-fr-col-xl-3 {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
}
/* Modal Gestion */
.modalOpened {
  opacity: 1;
  visibility: visible;
}

/* Filtre Date début et fin */
.filterDateBoxDebut div.react-datepicker-wrapper, .filterDateBoxFin div.react-datepicker-wrapper {
  width: 99%;
}

.filterDateBoxFin div.react-datepicker-wrapper {
  margin-left: 1%;
}

#datePickerDebut, #datePickerFin {
  margin: 0px !important;
}

.react-datepicker__triangle {
  left: 120px !important;
}
@media (min-width: 1321px) and (max-width: 1715px) {
  .liste-recrutes {
    text-align: right;
  }
}
@media (min-width: 992px) and (max-width: 1145px) {
  .liste-recrutes {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .hide-md {
    display: none;
  }
}
@media (max-width: 991px) {
  .show-md {
    display: none;
  }
  .coop-btn {
    width: 100%;
    height: 100%;
    padding: 15px;
  }
}
@media (max-width: 865px) {
  .br-lg {
    display: none;
  }
}
@media (max-width: 767px) {
  .titre-stat {
    height: 45px;
  }
}
@media (max-width: 575px) {
  .filterDateBoxDebut div.react-datepicker-wrapper, .filterDateBoxFin div.react-datepicker-wrapper {
    width: 100%;
    margin-left: 0%;
  }
}
