$blue-france:#000091;

.flashBag {
  background-color: white;
  color: #008941;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid;
  border-radius: 20px;
}

.labelError {
  color: #FF3333;
}

.spinnerCustom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapperModal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.header__logo-rf {
    height: 78px;
}

.Login {
    border-radius: 8px;
    text-align: center;
}

.rf-sur-mesure {
    flex: none;
    padding-right: 0;
    height: 75px;
}

.logo-conseiller-numerique {
    height: 75px;
    margin-left: 1.25rem;
    display: flex;
}

.logo-conseiller-numerique img:first-child {
    height: 54px;
    margin-top: 1.1em;
    font-weight: lighter!important;
}

.rf-tag.current {
    font-weight: 600;
    color: white;
    background-color: #5770BE;
}

.rf-tag:hover {
  background-color: #D5DBEF;
}

.hidden {
  display: none;
}

.big-btn {
  display: inline-block;
  padding: 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1rem!important;
  width: 60%;
  text-align: center;
  background: white!important;
  border: 1px solid #383838!important;
  color: #383838!important;
}

/** Icones menu gauche **/
.Menu .rf-sidemenu__item--active [class^="rf-fi"] {
    color: $blue-france;
}
.menu-contact {
  display: inline-block;
  padding: 0.5rem;
  padding-right: 0;
}
/** style custom **/
.alignRight {
    text-align: right;
}

.valignTextTop {
  vertical-align: text-top;
}

.valignMiddle {
  vertical-align: middle;
}

.valignBottom {
  vertical-align: bottom;
}

.conseiller .customTitleLink {
    color: $blue-france;
    text-align: right;
}

.capitalizeFirstLetter {
  text-transform: capitalize;
  color: $blue-france;
}

.centrerTexte {
  text-align: center;
}

.titrage {
  font-size: 56px;
}

.td-preselection {
  max-width: 130px !important;
}

.invalid, .important {
  color: #e10600;
}
.valid {
  color: #008941;
}

@media (min-width: 1571px) {
  .btn-rf-col-xl-3 {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }
}
/* Modal Gestion */
.modalOpened {
  opacity: 1;
  visibility: visible;
}

/* Filtre Date début et fin */
.filterDateBoxDebut div.react-datepicker-wrapper, .filterDateBoxFin div.react-datepicker-wrapper {
  width: 99%;
}

.filterDateBoxFin div.react-datepicker-wrapper {
  margin-left: 1%;
}

#datePickerDebut, #datePickerFin {
  margin: 0px !important;
}

.react-datepicker__triangle {
  left: 120px !important;
}
@media (max-width: 865px) {
  .br-lg {
    display: none;
  }
}
@media (max-width: 575px) {
  .filterDateBoxDebut div.react-datepicker-wrapper, .filterDateBoxFin div.react-datepicker-wrapper {
    width: 100%;
    margin-left: 0%;
  }
}
