$blue-france:#000091;

.header__logo-rf {
    height: 78px;
}

.Login {
    border-radius: 8px;
    text-align: center;
}

.rf-sur-mesure {
    flex: none;
    padding-right: 0;
    height: 75px;
}

.logo-conseiller-numerique {
    height: 75px;
    margin-left: 1.25rem;
    display: flex;
}

.logo-conseiller-numerique img:first-child {
    height: 54px;
    margin-top: 1.1em;
    font-weight: lighter!important;
}

.rf-tag.current {
    font-weight: 600;
    color: white;
    background-color: #5770BE;
}

.rf-tag:hover {
  background-color: #D5DBEF;
}

/** Icones menu gauche **/
.Menu .rf-sidemenu__item--active [class^="rf-fi"] {
    color: $blue-france;
}

/** style custom **/
.alignRight {
    text-align: right;
}

.valignTextTop {
  vertical-align: text-top;
}

.valignMiddle {
  vertical-align: middle;
}

.valignBottom {
  vertical-align: bottom;
}

.conseiller .customTitleLink {
    color: $blue-france;
    text-align: right;
}

.capitalizeFirstLetter {
  text-transform: capitalize;
  color: $blue-france;
}

.titrage {
  font-size: 56px;
}

/* Modal Gestion */
.modalOpened {
  opacity: 1;
  visibility: visible;
}

/* Filtre Date début et fin */
.filterDateBoxDebut div.react-datepicker-wrapper, .filterDateBoxFin div.react-datepicker-wrapper {
  width: 99%;
}

.filterDateBoxFin div.react-datepicker-wrapper {
  margin-left: 1%;
}

#datePickerDebut, #datePickerFin {
  margin: 0px !important;
}

.react-datepicker__triangle {
  left: 120px !important;
}
@media (max-width: 865px) {
  .br-lg {
    display: none;
  }
}
@media (max-width: 575px) {
  .filterDateBoxDebut div.react-datepicker-wrapper, .filterDateBoxFin div.react-datepicker-wrapper {
    width: 100%;
    margin-left: 0%;
  }
}
